@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
}

.nav-item {
  text-decoration: none;
}

.nav {
  height: 5rem;
}

.body {
  background-color: #1a1a1a;
  --primary-color: #ff3030;
  --text-color: #fff;
}

.hero-action {
  margin-top: 4rem;
  padding: 1rem 2rem;
  color: #fff;
  border: 1px solid #ff3030;
  background-color: #ff3030;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.hero-action:hover {
  background-color: transparent;
}

.hero {
  height: 100vh;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 1 rem;
  font-weight: 1 rem;
  font-family: "Lobster", cursive;
  color: white;
}

.subtitle {
  margin: 0;
  color: white;
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media only screen and (min-width: 1000px) {
  .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }
}
