@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1a1a1a;
  --primary-color: #ff3030;
  --text-color: #fff;
}

.about {
  color: var(--text-color);
}

.about_us {
  margin: 2rem 0 1rem 0;
  width: fit-content;
  border-bottom: solid 1px var(--primary-color);
  color: var(--text-color);
}

.nav-item {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  align-items: normal;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.nav-item:hover {
  color: var(--primary-color);
}

.nav {
  height: 2rem;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.hero-action {
  margin-top: 4rem;
}

.about {
  display: grid;
  gap: 2rem;
}

.about-text {
  font-size: 0.9rem;
  color: var(--text-color);
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background-color: transparent;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.hero {
  height: calc(100vh - 2rem);
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 1 rem;
  font-weight: 1 rem;
  font-family: "Lobster", cursive;
  color: white;
}

.subtitle {
  margin: 0;
  color: white;
}

.about-action {
  margin-top: 2rem;
}

@media only screen and (min-width: 600px) {
  .nav {
    gap: 2rem;
    font-size: 1rem;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .button {
    padding: 1.2rem 2.5rem;
  }

  .about-text {
    font-size: 1rem;
  }
}

.about-images {
  width: 100%;
  display: flex;
  gap: 0.5 rem;
}

.about-large-images {
  min-width: 50%;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-small-images {
  display: flex;
  flex-direction: column;
  gap: 0.5 rem;
}

.info-wrapper {
  margin: 3rem 0;
  padding: 2rem 0;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/info.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hours {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1 rem;
}

.info .about_us {
  margin: 0 auto;
}

.hours-entry {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.days {
  color: var(--text-color);
}

@media only screen and (min-width: 1000px) {
  .nav {
    gap: 4rem;
  }
  .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }
  .about_us {
    font-size: 2rem;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    align-items: center;
  }

  .about-images,
  .about-small-images {
    gap: 1rem;
  }

  .info-wrapper {
    margin: 8rem 0;
    padding: 6rem 0;
  }

  .hours {
    margin-top: 2rem;
  }

  .hours-entry {
    width: 20rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
